*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


html{
font-family: 'Ubuntu', sans-serif;
font-size: 16px;
color: var(--lightColor);
}

:root {
--primaryColor:orange;
--secondaryColor:rgb(14, 0, 3);
--lightColor:white;
--bgcolor_1:black;
--padding: 8%;
}
.home{
    width: 100%;
    height: 101vh;
    background-color: var(--bgcolor_1);
    display: flex;
    flex-direction: column;
}
span{
    color:var(--primaryColor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav {
    padding-left:var(--padding);
    padding-right: var(--padding);
    padding-top: 2.8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;

}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color:var(--primaryColor);
}
.b{
    background-color: var(--primaryColor);
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    border-radius:30px;
    padding: 0.81rem 0.87rem;
    border: 2px solid transparent;
    transition: 0.4s;
    display:inline-block;
}
.b:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
    color:white;
}
.content{
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container_texts{
    position: relative;
    bottom: 70px;
}

h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    letter-spacing: 0.2rem;
    font-size: 1.25rem;
    color: orangered;
}
.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}
.m{
    position: absolute;
    align-self: flex-end;
    height:70%;
    bottom:0;
    left: 50%;
    top: 48px;
    }
    
@media only screen and (max-width: 600px) {
.m{
    display: none;
}

}
